<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, width=device-width">
		<title>Panoptikos</title>
		<link href="css/reset.css" rel="stylesheet" type="text/css">
		<link href="css/general.css" rel="stylesheet" type="text/css">
		<link href="css/form.css" rel="stylesheet" type="text/css">
		<link href="css/subreddit-picker.css" rel="stylesheet" type="text/css">
		<link href="css/board.css" rel="stylesheet" type="text/css">
		<link href="css/board-item.css" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700" rel="stylesheet" type="text/css">

		<!-- Favicons. The first one is an .ico file because Internet Explorer can't handle anything else. -->
		<link href="images/favicon-16.ico" rel="shortcut icon" sizes="16x16" type="image/vnd.microsoft.icon">
		<link href="images/favicon-32.png" rel="icon" sizes="32x32" type="image/png">
		<link href="images/favicon-64.png" rel="icon" sizes="64x64" type="image/png">
		<link href="images/favicon-128.png" rel="icon" sizes="128x128" type="image/png">

		<!-- Icons that are used when website is added to the home screen on iOS. -->
		<link href="images/apple-touch-icon-ipad.png" rel="apple-touch-icon-precomposed" sizes="72x72" type="image/png">
		<link href="images/apple-touch-icon-ipad@2x.png" rel="apple-touch-icon-precomposed" sizes="144x144" type="image/png">
		<link href="images/apple-touch-icon-iphone.png" rel="apple-touch-icon-precomposed" sizes="57x57" type="image/png">
		<link href="images/apple-touch-icon-iphone@2x.png" rel="apple-touch-icon-precomposed" sizes="114x114" type="image/png">
	</head>

	<body>
		<p id="about">Panoptikos is an image viewer for Reddit.</p>
		<p id="about-hint">This is an experimental version. Once all problems are fixed and the most requested features are added, it will replace the current Panoptikos. Make sure to tell me what you like or miss, I'm <a href="https://twitter.com/Panoptikos">@Panoptikos</a> on Twitter.</p>

		<div id="board"></div>

		<!-- Tell visitors who have JavaScript disabled how great the site is so they enable it again. -->
		<noscript>
			<div>If you enable JavaScript, you can view lots of images from any subreddits you like.</div>
		</noscript>

		<script src="js/libraries/goog/base.js"></script>
		<script src="js/dependencies.js"></script>
		<script>goog.require("panoptikos.Panoptikos")</script>
		<script>new panoptikos.Panoptikos()</script>

		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-10403694-9']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>
