<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, width=device-width" />
		<title>Panoptikos (Experimental)</title>
		<link href="css/reset.css" rel="stylesheet" type="text/css">
		<link href="css/general.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<p id="about">Panoptikos is an image viewer for Reddit.</p>
		<p id="about-hint">This is an experimental version. Once all problems are fixed and the most requested features are added, it will replace the current Panoptikos. Make sure to tell me what you like or miss, I'm <a href="https://twitter.com/Panoptikos">@Panoptikos</a> on Twitter.</p>

		<div id="board"></div>

		<!-- Tell visitors who have JavaScript disabled how great the site is so they enable it again. -->
		<!--<noscript>
			<div>It seems you disabled JavaScript. If you enable it, you can view lots of images from any subreddits you like.</div>
			<img height="450" src="" width="800">
		</noscript>-->

		<script src="js/libraries/mootools-core-1.4.5-full-nocompat-yc.js"></script>
		<script src="js/libraries/mootools-more-1.4.0.1.js"></script>
		<script src="js/basic.js"></script>
		<script src="js/config/core.js"></script>
		<script src="js/views/board.js"></script>
		<script src="js/views/board-controls.js"></script>
		<script src="js/views/board-item.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
