<!DOCTYPE html>
<html ng-app="p">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, width=device-width">
		<title ng-bind-template="{{pageTitle}}Panoptikos - The image viewer for Reddit">Panoptikos - The image viewer for Reddit</title>

		<!-- CSS -->
		<!-- COMPILED_CSS_HERE -->
		<link href="/main/reset.css" rel="stylesheet">
		<link href="/main/main.css" rel="stylesheet">
		<link href="/main/form.css" rel="stylesheet">
		<link href="/components/flash/flash.css" rel="stylesheet">
		<link href="/subreddit-list/subreddit-list.css" rel="stylesheet">
		<link href="/thread-list/thread-list.css" rel="stylesheet">

		<!-- Fonts -->
		<link href="//fonts.googleapis.com/css?family=Alegreya+Sans:400,700&amp;subset=latin,latin-ext" rel="stylesheet">

		<!-- Favicons. The first one is an .ico file because Internet Explorer can’t handle anything else. -->
		<link href="/f1.ico" rel="icon" sizes="16x16">
		<link href="/f2.png" rel="icon" sizes="32x32">
		<link href="/f3.png" rel="icon" sizes="64x64">
		<link href="/f4.png" rel="icon" sizes="128x128">

		<!-- Icons that are used when the website is added to the home screen on iOS. -->
		<link href="/a1.png" rel="apple-touch-icon" sizes="72x72">
		<link href="/a2.png" rel="apple-touch-icon" sizes="144x144">
		<link href="/a3.png" rel="apple-touch-icon" sizes="57x57">
		<link href="/a4.png" rel="apple-touch-icon" sizes="114x114">
	</head>

	<body>
		<ul id="nav-list" ng-controller="n">
			<li class="nav-list-item"><a class="nav-link" href="/" ng-class="{active: page.ThreadList}">Panoptikos</a></li>
			<!-- <li class="nav-list-item nav-list-item-flex"><a class="nav-link" href="/donate" ng-class="{active: page.Donations}">Donate</a></li> -->
			<li class="nav-list-item nav-list-item-flex"><a class="nav-link" href="/feedback" ng-class="{active: page.Feedback}">Feedback</a></li>
			<li class="nav-list-item"><a class="nav-link" href="/settings" ng-class="{active: page.Settings}">Settings</a></li>
		</ul>

		<div ng-cloak ng-controller="f">
			<div class="flash" ng-repeat="m in Flash.InfoMessages track by $index">{{m.text}}</div>
			<div class="flash flash-warn" ng-repeat="m in Flash.WarnMessages track by $index">{{m.text}}</div>
			<div class="flash flash-error" ng-repeat="m in Flash.ErrorMessages track by $index">{{m.text}}</div>
		</div>

		<div id="content" ng-view></div>

		<!-- JS -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-route.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-sanitize.min.js"></script>
		<!-- COMPILED_JS_HERE -->
		<script src="/main/app.js"></script>
		<script src="/components/button-bar/button-bar-directive.js"></script>
		<script src="/components/default-subreddit-ids-service.js"></script>
		<script src="/components/flash/flash-controller.js"></script>
		<script src="/components/flash/flash-service.js"></script>
		<script src="/components/navigation/navigation-controller.js"></script>
		<script src="/components/third-party/angular-local-storage/angular-local-storage-service.js"></script>
		<script src="/donations/donations-controller.js"></script>
		<script src="/feedback/feedback-controller.js"></script>
		<script src="/settings/settings-controller.js"></script>
		<script src="/settings/settings-service.js"></script>
		<script src="/subreddit-list/subreddit-list-controller.js"></script>
		<script src="/thread-detail/thread-detail-controller.js"></script>
		<script src="/thread-list/board-directive.js"></script>
		<script src="/thread-list/board-event-types-service.js"></script>
		<script src="/thread-list/board-item-service.js"></script>
		<script src="/thread-list/board-service.js"></script>
		<script src="/thread-list/thread-list-controller.js"></script>
		<script src="/thread-list/thread-list-item-service.js"></script>
		<script src="/thread-list/thread-list-service.js"></script>
		<script src="/thread-list/thread-processor-service.js"></script>
		<script src="/main/config.js"></script>

		<!-- Google Analytics -->
		<script>if(location.hostname==="www.panoptikos.com"){(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create","UA-44086983-1","panoptikos.com");ga("send","pageview");}</script>

		<!-- Tell visitors who have JavaScript disabled how great the site is so they enable it again. -->
		<noscript>
			<div id="no-js">
				<p><strong>Enable JavaScript to conveniently browse through all the images of all the subreddits you like.</strong></p>

				<p>If you use NoScript, please unblock the following URLs to make Panoptikos functional again:</p>

				<table>
					<tr>
						<th>URL to unblock</th>
						<th>Reason why it’s needed</th>
					</tr>
					<tr>
						<td>www.panoptikos.com</td>
						<td>Custom JavaScript code. The brain of Panoptikos.</td>
					</tr>
					<tr>
						<td>ajax.googleapis.com</td>
						<td>JavaScript libraries (AngularJS, JQuery)</td>
					</tr>
					<tr>
						<td>reddit.com</td>
						<td>Getting content from Reddit</td>
					</tr>
					<tr>
						<td>themes.googleusercontent.com</td>
						<td>Pretty font</td>
					</tr>
				</table>

				<p>Thank you!</p>
			</div>
		</noscript>
	</body>
</html>
