/*html{
	background: #FFF;
	color: #000;
}*/

blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
img {
	border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style: normal;
	font-weight: normal;
}

ol,
ul {
	list-style:none;
}

caption,
th {
	text-align: left;
}

/*h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}*/

q:before,
q:after {
	content: "";
}

abbr,
acronym {
	border: 0;
	font-variant: normal;
}

/* To preserve line-height and selector appearance */
sub {
	vertical-align: text-bottom;
}

sup {
	vertical-align: text-top;
}

input,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

/* To enable resizing for IE */
input,
select,
textarea {
	*font-size: 100%;
}

/* Because legend doesn’t inherit in IE */
legend {
	color: #000;
}
