<ul class="inline-list">
	<li class="inline-list-item">
		<button ng-click="selectSubreddits()">Select Subreddits&hellip;</button>
	</li>

	<li class="inline-list-item">
		<div
			button-bar
			button-bar-callback="selectSection"
			button-bar-labels='["Hot", "New", "Rising", "Controversial", "Top"]'>
		</div>
	</li>
</ul>

<div
	board
	board-column-width="320"
	board-is-multi-reddit="{{isMultiReddit}}"
	board-margin-between-columns="10"
	board-on-did-add-item="loadMoreToFillPage"
	board-on-did-scroll-to-bottom="loadMoreToFillPage"
	board-only-show-posts-with-images="{{onlyShowPostsWithImages}}"
	board-open-external-links-in-new-tab="{{openExternalLinksInNewTab}}"
	board-service-object="board">
</div>

<div id="board-controls">
	<button ng-click="retrieveThreadsFromReddit()">{{loadMoreButtonText}}</button>
</div>
