<p id="about-subtitle">The <a href="https://github.com/ChristianSiegert/panoptikos/tree/angularjs-port">source code</a> is available on GitHub. I'm <a href="https://twitter.com/Panoptikos">@Panoptikos</a> on Twitter. Do you want to explore more? Try <a href="/r/all">/r/all</a> or <a href="/r/random">/r/random</a>.</p>

<button ng-click="selectSubreddits()">Select Subreddits&hellip;</button>

<div button-bar button-bar-callback="selectSection" button-bar-labels='["Hot", "New", "Rising", "Controversial", "Top"]'></div>

<div id="board" on-resize="handleResizeEvent()" on-scroll="handleScrollEvent()">
	<ul class="board-column" ng-repeat="boardColumn in boardColumns" ng-cloak class="ng-cloak">
		<li class="board-item" ng-repeat="boardItem in boardColumn">
			<a class="board-item-image-anchor" href="{{boardItem.thread.url}}" ng-if="boardItem.imageUrl">
				<img class="board-item-image" ng-src="{{boardItem.imageUrl}}">
			</a>
			<a class="board-item-title-anchor" href="{{boardItem.thread.url}}" ng-bind-html="boardItem.thread.title"></a>

			<div class="board-item-info">
				<a class="board-item-info-cell board-item-comments-anchor" href="{{'http://www.reddit.com' + boardItem.thread.permalink}}" ng-pluralize count="boardItem.thread.num_comments" when="{'one':'1 Comment','other':'{} Comments'}"></a>
				<a class="board-item-info-cell board-item-info-cell-right board-item-subreddit-anchor" href="/r/{{boardItem.thread.subreddit}}" ng-if="isMultiReddit">/r/{{boardItem.thread.subreddit}}</a>
			</div>
		</li>
	</ul>
</div>

<div id="board-controls">
	<button ng-click="retrieveThreadsFromReddit()">{{loadMoreButtonText}}</button>
</div>
