<button ng-click="selectSubreddits()">Select Subreddits</button>

<button ng-click="selectSection('')">Hot</button>
<button ng-click="selectSection('new')">New</button>
<button ng-click="selectSection('rising')">Rising</button>
<button ng-click="selectSection('controversial')">Controversial</button>
<button ng-click="selectSection('top')">Top</button>

<div id="board" on-scroll="handleScrollEvent()">
	<ul class="board-column" ng-repeat="boardColumn in boardColumns" ng-cloak class="ng-cloak">
		<div class="board-item" ng-repeat="boardItem in boardColumn">
			<a class="board-item-image-anchor" href="{{boardItem.thread['url']}}" ng-show="boardItem.imageUrl">
				<img class="board-item-image" ng-src="{{boardItem.imageUrl}}">
			</a>
			<a class="board-item-title-anchor" href="{{boardItem.thread['url']}}" ng-bind-html-unsafe="boardItem.thread['title']"></a>
			<a class="board-item-comments-anchor" href="{{'http://www.reddit.com' + boardItem.thread['permalink']}}" ng-pluralize count="boardItem.thread['num_comments']" when="{'one':'1 Comment','other':'{} Comments'}"></a>
		</div>
	</ul>
</div>

<div id="board-controls">
	<button ng-click="retrieveThreadsFromReddit()">{{loadMoreButtonText}}</button>
</div>
