<h1>Subreddits</h1>

<p>Check the ones you want to see, uncheck the ones you don’t want to see. You can add a subreddit by entering its name into the textbox below and hitting “return”.</p>

<ul id="subreddit-list">
	<li class="subreddit-list-item" ng-repeat="subreddit in subreddits">
		<input type="checkbox" id="subreddit-{{subreddit.id}}" name="{{subreddit.name}}" value="/r/{{subreddit.id}}" ng-checked="subreddit.isChecked" ng-model="subreddit.isChecked">
		<label for="subreddit-{{subreddit.id}}">{{subreddit.name}}</label>
	</li>

	<li ng-if="!subreddits.length">Please add one or more subreddits.</li>
</ul>

<ul>
	<li class="inline-list-item"><input type="text" ng-keyup="addSubreddit($event)" placeholder="Enter subreddit and press return"></li>
	<li class="inline-list-item"><button ng-click="viewSubreddits()">View subreddits</button></li>
</ul>

<!--
<input ng-change="retrieveSubredditsFromReddit" ng-model="search.subredditName">

<ul id="subreddit-list" ng-init="retrieveSubredditsFromReddit()">
	<li class="subreddit-list-item" ng-repeat="subreddit in subreddits">
		<a href="{{subreddit.data.url}}">/r/{{subreddit.data.display_name}}</a><br>
		{{subreddit.data.public_description}}<br>
		<span>{{subreddit.data.subscribers | number}} subscribers</span>
	</li>
</ul>
-->
