.board-item {
	background-color: #FFF;
	display: block;
	margin: 0 0 10px; /* @alternate */
	margin: 0 0 0.625rem;
	padding: 4px;
	text-align: left;

	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	   -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	        box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}


.board-item.new-from-request {
	-webkit-animation-duration: 0.5s;
	   -moz-animation-duration: 0.5s;

	-webkit-animation-name: board-item-fade-in;
	   -moz-animation-name: board-item-fade-in;
}

	@-webkit-keyframes board-item-fade-in {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	@-moz-keyframes board-item-fade-in {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	.board-item-image-anchor {
		display: block;
		margin: 0 0 4px; /* @alternate */
		margin: 0 0 0.25rem;
	}

		.board-item-image {
			display: inline-block;
			width: 100%;
		}

	.board-item-title-anchor {
		color: #333;
		display: block;
		font-size: 13px; /* @alternate */
		font-size: 0.8125rem;
		line-height: 20px; /* @alternate */
		line-height: 1.25rem;
		text-align: center;
		text-decoration: none;
	}

	.board-item-comments-anchor {
		color: #333;
		font-size: 10px; /* @alternate */
		font-size: 0.6875rem;
		line-height: 16px; /* @alternate */
		line-height: 1rem;
	}

	.board-item-comments-anchor:visited,
	.board-item-title-anchor:visited {
		color: #AAA;
	}

	.board-item-comments-anchor:visited:hover,
	.board-item-title-anchor:visited:hover {
		color: #4B81BD;
	}
