.board-item {
	background-color: #FFF;
	border-radius: 3px;
	display: block;
	margin: 0 0 10px; /* @alternate */
	margin: 0 0 0.625rem;
	overflow: hidden;
	text-align: left;

	-webkit-box-shadow: 0 0 0 1px rgba(34, 25, 25, 0.05), 0 1px 2px rgba(34, 25, 25, 0.3);
	   -moz-box-shadow: 0 0 0 1px rgba(34, 25, 25, 0.05), 0 1px 2px rgba(34, 25, 25, 0.3);
	        box-shadow: 0 0 0 1px rgba(34, 25, 25, 0.05), 0 1px 2px rgba(34, 25, 25, 0.3);
}

	.board-item-image-anchor {
		display: block;
	}

		.board-item-image {
			display: inline-block;
			width: 100%;
		}

	.board-item-title-anchor {
		color: #333;
		display: block;
		font-size: 13px; /* @alternate */
		font-size: 0.8125rem;
		line-height: 20px; /* @alternate */
		line-height: 1.25rem;
		padding: 6px 4px 4px; /* @alternate */
		padding: 0.375rem 0.25rem 0.25rem;
		text-align: center;
		text-decoration: none;
	}

	.board-item-title-anchor:visited {
		color: #AAA;
	}

	.board-item-title-anchor:visited:hover {
		color: #4B81BD;
	}

	.board-item-info {
		display: table;
		width: 100%;
	}

		.board-item-info-cell {
			color: #333;
			display: table-cell;
			font-size: 12px; /* @alternate */
			font-size: 0.75rem;
			height: 16px; /* @alternate */
			height: 1rem;
			line-height: 16px; /* @alternate */
			line-height: 1rem;
			padding: 0 4px 4px; /* @alternate */
			padding: 0 0.25rem 0.25rem;
			width: 50%;
		}

		.board-item-info-cell-right {
			text-align: right;
		}
