#board {
	line-height: 0;
	text-align: center;
}

	.board-column {
		display: inline-block;
		margin: 0 0 0 10px;
		max-width: 320px;
		vertical-align: top;
	}

	.board-column:first-of-type {
		margin-left: 0;
	}
