button {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background: #F6F6F6; /* @alternate */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FFF), color-stop(1, #F6F6F6)); /* @alternate */
	background: -webkit-linear-gradient(to bottom, #FFF 5%, #F6F6F6 100%); /* @alternate */
	background:    -moz-linear-gradient(to bottom, #FFF 5%, #F6F6F6 100%); /* @alternate */
	background:     -ms-linear-gradient(to bottom, #FFF 5%, #F6F6F6 100%); /* @alternate */
	background:         linear-gradient(to bottom, #FFF 5%, #F6F6F6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#F6F6F6"); /* IE 6 to 9 */
	border: 1px solid #DCDCDC;
	color: #666;
	cursor: pointer;
	font-family: "Alegreya Sans", "Ubuntu", "DejaVu Sans", "Arial", sans-serif;
	font-size: 17px; /* @alternate */
	font-size: 1.7rem;
	font-weight: bold;
	margin: 0;
	outline: none;
	padding: 6px 18px; /* @alternate */
	padding: 0.6rem 1.8rem;
	text-decoration: none;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
	vertical-align: text-bottom;

	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	        border-radius: 6px;

	-webkit-box-shadow: 0 -1px 0 0 rgba(146, 102, 102, 0.2) inset;
	   -moz-box-shadow: 0 -1px 0 0 rgba(146, 102, 102, 0.2) inset;
	        box-shadow: 0 -1px 0 0 rgba(146, 102, 102, 0.2) inset;
}

button:hover {
	background: #E7E7E7; /* @alternate */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #F9F9F9), color-stop(1, #E7E7E7)); /* @alternate */
	background: -webkit-linear-gradient(to bottom, #F9F9F9 5%, #E7E7E7 100%); /* @alternate */
	background:    -moz-linear-gradient(to bottom, #F9F9F9 5%, #E7E7E7 100%); /* @alternate */
	background:     -ms-linear-gradient(to bottom, #F9F9F9 5%, #E7E7E7 100%); /* @alternate */
	background:         linear-gradient(to bottom, #F9F9F9 5%, #E7E7E7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F9F9F9", endColorstr="#E7E7E7"); /* IE 6 to 9 */
}

button:active {
	background: #D9D9D9; /* @alternate */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #EEE), color-stop(1, #D9D9D9)); /* @alternate */
	background: -webkit-linear-gradient(to bottom, #EEE 5%, #D9D9D9 100%); /* @alternate */
	background:    -moz-linear-gradient(to bottom, #EEE 5%, #D9D9D9 100%); /* @alternate */
	background:     -ms-linear-gradient(to bottom, #EEE 5%, #D9D9D9 100%); /* @alternate */
	background:         linear-gradient(to bottom, #EEE 5%, #D9D9D9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#EEEEEE", endColorstr="#D9D9D9"); /* IE 6 to 9 */
	box-shadow: 0 0 2px 0 rgba(146, 102, 102, 0.16) inset;
	padding: 7px 18px 5px; /* @alternate */
	padding: 0.7rem 1.8rem 0.5rem;
}

/* Remove button padding in Firefox */
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input,
textarea {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background-color: #F1F1F2;
	border-radius: 4px; /* @alternate */
	border-radius: 0.4rem;
	border-width: 0;
	color: #767676;
	outline: none;
	padding: 8px 8px 6px; /* @alternate */
	padding: 0.8rem 0.8rem 0.6rem;
	text-shadow: 1px 1px #FFF; /* @alternate */
	text-shadow: 0.1rem 0.1rem #FFF;
	width: 100%;

	-webkit-box-shadow: inset 0 1px 3px #CCC;
	        box-shadow: inset 0 1px 3px #CCC;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

input[type="checkbox"] {
	-webkit-appearance: checkbox;
	margin: 0 3px 0 0;
	width: auto;
}

input[type="text"] {
	width: 250px;
}

input:focus,
textarea:focus {
	background-color: #EAEAEA;
	color: #818181;

	-webkit-box-shadow: inset 0 2px 4px #B9B9B9;
	        box-shadow: inset 0 2px 4px #B9B9B9;
}

.button-bar {
	display: inline-block;
}

	.button-bar > button {
		border-right-width: 0;

		-webkit-border-radius: 0;
		   -moz-border-radius: 0;
		        border-radius: 0;
	}

	.button-bar > button:first-of-type {
		-webkit-border-radius: 6px 0 0 6px;
		   -moz-border-radius: 6px 0 0 6px;
		        border-radius: 6px 0 0 6px;
	}

	.button-bar > button:last-of-type {
		border-right-width: 1px;

		-webkit-border-radius: 0 6px 6px 0;
		   -moz-border-radius: 0 6px 6px 0;
		        border-radius: 0 6px 6px 0;
	}
