html {
	background-color: #F7F5F5;
	color: #333;
	font-family: "Alegreya Sans", "Ubuntu", "DejaVu Sans", "Lucida Grande", sans-serif;
	font-size: 62.5%;
	font-size-adjust: 0.46;
	padding: 20px; /* @alternate */
	padding: 2rem;

	/* Show scrollbar right away so the available width for our board remains the same when images are added. */
	overflow-y: scroll;

	/* Prevent Webkit on iOS from scaling text up when orientation is changed to landscape. */
	-webkit-text-size-adjust: 100%;
}

@media (max-width: 1024px) {
	html {
		padding: 10px; /* @alternate */
		padding: 1rem;
	}
}

@media (max-width: 360px) {
	html {
		padding: 5px; /* @alternate */
		padding: 0.5rem;
	}
}

body {
	font-size: 16px; /* @alternate */
	font-size: 1.6rem;
}

a {
	color: #0154A4;
	text-decoration: none;
}

a:hover {
	color: #4B81BD;
}

p {
	margin: 0 0 10px; /* @alternate */
	margin: 0 0 1rem;
}

#about {
	font-size: 22px; /* @alternate */
	font-size: 2.2rem;
}

#board-controls {
	display: block;
	font-size: 14px; /* @alternate */
	font-size: 1.4rem;
	padding: 10px 0; /* @alternate */
	padding: 1rem 0;
	text-align: center;
}

.inline-list {

}

	.inline-list-item {
		display: inline-block;
		margin: 0 0 10px; /* @alternate */
		margin: 0 0 1rem;
		vertical-align: middle;
	}

strong {
	font-weight: bold;
}

table {

}

	tr {

	}

		th {
			font-weight: bold;
			text-align: center;
		}

		td,
		th {
			border: 1px solid #333;
			border-width: 0 1px 1px 0;
			padding: 1px 5px; /* @alternate */
			padding: 0.1rem 0.5rem;
		}

		td:last-of-type,
		th:last-of-type {
			border-right: none;
		}

#no-js {
	margin: 30px 0; /* @alternate */
	margin: 3rem 0;
	text-align: center;
}

	#no-js table {
		font-size: 13px; /* @alternate */
		font-size: 1.3rem;
		margin: 10px auto; /* @alternate */
		margin: 1rem auto;
		text-align: left;
	}

/* AngularJS CSS */
[ng-cloak], .ng-cloak {
	display: none !important;
}
