html {
	background-color: #F7F5F5;
	color: #211922;
	font-family: "Droid Serif", "Ubuntu", "DejaVu Sans", "Lucida Grande", Georgia, sans-serif;
	padding: 20px; /* @alternate */
	padding: 1.25rem;

	/* Show scrollbar right away so the available width for our board remains the same when images are added. */
	overflow-y: scroll;

	/* Prevent Webkit on iOS from scaling text up when orientation is changed to landscape. */
	-webkit-text-size-adjust: 100%;
	   -moz-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
	        text-size-adjust: 100%;
}

@media (max-width: 1024px) {
	html {
		padding: 10px; /* @alternate */
		padding: 0.625rem;
	}
}

a {
	color: #0154A4;
	text-decoration: none;
}

a:hover {
	color: #4B81BD;
}

#about {
	font-size: 16px; /* @alternate */
	font-size: 1rem;
	margin: 0 0 10px; /* @alternate */
	margin: 0 0 0.625rem;
}

#about-hint {
	font-size: 14px; /* @alternate */
	font-size: 0.875rem;
	margin: 0 0 10px; /* @alternate */
	margin: 0 0 0.625rem;
}

#board-controls {
	display: block;
	font-size: 14px; /* @alternate */
	font-size: 0.875rem;
	padding: 10px 0; /* @alternate */
	padding: 0.625rem 0;
	text-align: center;
}

/* AngularJS CSS */
[ng-cloak], .ng-cloak {
	display: none !important;
}
