html {
	background-color: #F7F5F5;
	color: #333;
	font-family: "Ubuntu", "DejaVu Sans", "Droid Serif", "Lucida Grande", "Georgia", "sans-serif";
	padding: 20px; /* @alternate */
	padding: 1.25rem;

	/* Show scrollbar right away so the available width for our board remains the same when images are added. */
	overflow-y: scroll;

	/* Prevent Webkit on iOS from scaling text up when orientation is changed to landscape. */
	-webkit-text-size-adjust: 100%;
	        text-size-adjust: 100%;
}

@media (max-width: 1024px) {
	html {
		padding: 10px; /* @alternate */
		padding: 0.625rem;
	}
}

@media (max-width: 360px) {
	html {
		padding: 5px; /* @alternate */
		padding: 0.3125rem;
	}
}

a {
	color: #0154A4;
	text-decoration: none;
}

a:hover {
	color: #4B81BD;
}

p {
	margin: 0 0 10px; /* @alternate */
	margin: 0 0 0.625rem;
}

#about {
	font-size: 18px; /* @alternate */
	font-size: 1.125rem;
}

#about-subtitle {
	font-size: 15px; /* @alternate */
	font-size: 0.9375rem;
}

#board-controls {
	display: block;
	font-size: 14px; /* @alternate */
	font-size: 0.875rem;
	padding: 10px 0; /* @alternate */
	padding: 0.625rem 0;
	text-align: center;
}

/* AngularJS CSS */
[ng-cloak], .ng-cloak {
	display: none !important;
}
