*, *:before, *:after {
	/* Firefox (desktop or Android) 28- */
	-moz-box-sizing: border-box;

	/* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
	-webkit-box-sizing: border-box;

	/* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
	box-sizing: border-box;
}

html {
	background: #F9F9F9;
	background: -webkit-linear-gradient(to top, #F7F7F7, #F9F9F9) fixed;
	background:    -moz-linear-gradient(to top, #F7F7F7, #F9F9F9) fixed;
	background:     -ms-linear-gradient(to top, #F7F7F7, #F9F9F9) fixed;
	background:         linear-gradient(to top, #F7F7F7, #F9F9F9) fixed;
	color: #333;
	font-family: "Alegreya Sans", "Ubuntu", "DejaVu Sans", "Lucida Grande", sans-serif;
	font-size: 62.5%;
	font-size-adjust: 0.46;

	/* Show scrollbar right away so the available width for our board remains the same when images are added. */
	overflow-y: scroll;

	/* Prevent Webkit on iOS from scaling text up when orientation is changed to landscape. */
	-webkit-text-size-adjust: 100%;
}

body {
	font-size: 16px; /* @alternate */
	font-size: 1.6rem;
}

a {
	color: #0154A4;
	text-decoration: none;
}

a:hover {
	color: #4B81BD;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: bold;
	margin: 0.5em 0 0.3em;
}

h1 {
	font-size: 37.5px;
	font-size: 3.75rem;
}

p {
	margin: 0 0 10px; /* @alternate */
	margin: 0 0 1rem;
}

.inline-list {

}

	.inline-list-item {
		display: inline-block;
		margin: 0 10px 0 0; /* @alternate */
		margin: 0 1rem 0 0;
		vertical-align: middle;
	}

strong {
	font-weight: bold;
}

table {

}

	tr {

	}

		th {
			font-weight: bold;
			text-align: center;
		}

		td,
		th {
			border: 1px solid #333;
			border-width: 0 1px 1px 0;
			padding: 1px 5px; /* @alternate */
			padding: 0.1rem 0.5rem;
		}

		td:last-of-type,
		th:last-of-type {
			border-right: none;
		}

#content {
	margin: 15px 20px; /* @alternate */
	margin: 1.5rem 2rem;
}

@media (max-width: 1024px) {
	#content {
		margin: 10px; /* @alternate */
		margin: 1rem;
	}
}

@media (max-width: 360px) {
	#content {
		margin: 5px; /* @alternate */
		margin: 0.5rem;
	}
}

#nav-list {
	background: #FFF;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	padding: 0 20px;
}

	.nav-list-item {
		display: inline-block;
	}

	.nav-list-item-flex {
		flex: auto;
		text-align: right;
	}

		.nav-link,
		.nav-link:visited {
			color: #333;
			display: inline-block;
			font-weight: bold;
			padding: 10px;
			padding: 1rem;
			text-transform: uppercase;
		}

		.nav-link:hover {
			color: #FFF;
			background-color: #FD726E;
		}

		.nav-link.active {
			color: #FFF;
			background-color: #FD726E;
		}

#no-js {
	margin: 30px 0; /* @alternate */
	margin: 3rem 0;
	text-align: center;
}

	#no-js table {
		font-size: 13px; /* @alternate */
		font-size: 1.3rem;
		margin: 10px auto; /* @alternate */
		margin: 1rem auto;
		text-align: left;
	}

/* AngularJS CSS */
[ng-cloak], .ng-cloak {
	display: none !important;
}
