#subreddit-picker-background {
	background-color: rgba(0, 0, 0, 0.7);
	box-sizing: border-box;
	height: 100%;
	left: 0;
	padding: 10px; /* @alternate */
	padding: 0.625rem;
	position: absolute;
	top: 0;
	width: 100%;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	        tap-highlight-color: rgba(0, 0, 0, 0);

	-webkit-animation-duration: 0.3s;
	   -moz-animation-duration: 0.3s;

	-webkit-animation-name: subreddit-picker-background-fade-in;
	   -moz-animation-name: subreddit-picker-background-fade-in;
}

	@-webkit-keyframes subreddit-picker-background-fade-in {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	@-moz-keyframes subreddit-picker-background-fade-in {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

#subreddit-picker-background.fade-out {
	opacity: 0;

	-webkit-animation-duration: 0.3s;
	   -moz-animation-duration: 0.3s;

	-webkit-animation-name: subreddit-picker-background-fade-out;
	   -moz-animation-name: subreddit-picker-background-fade-out;
}

	@-webkit-keyframes subreddit-picker-background-fade-out {
		from {
			opacity: 1;
		}

		to {
			opacity: 0;
		}
	}

	@-moz-keyframes subreddit-picker-background-fade-out {
		from {
			opacity: 1;
		}

		to {
			opacity: 0;
		}
	}

#subreddit-picker {
	background: #FFF;
	border-radius: 3px;
	margin: 10px auto; /* @alternate */
	margin: 0.625rem auto;
	max-width: 320px; /* @alternate */
	max-width: 30rem;
	padding: 5px; /* @alternate */
	padding: 0.3125rem;
	position: relative;

	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	   -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	        box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

	#subreddit-picker-subreddit-list {

	}

		.subreddit-picker-subreddit-add-button,
		.subreddit-picker-subreddit-remove-button {
			display: block;
			margin: 7px 0; /* @alternate */
			margin: 0.4375rem 0;
			outline: none;
			padding: 7px 12px; /* @alternate */
			padding: 0.4375rem 0.75rem;
			text-align: left;
			width: 100%;
		}

		.subreddit-picker-subreddit-add-button {
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89C403), color-stop(1, #77A809)); /* @alternate */
			background: -moz-linear-gradient(center top, #89C403 5%, #77A809 100%);
			filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#89C403', EndColorStr='#77A809');
			background-color: #89C403;
			border-color: #74B807;
			color: #FFF;
			text-shadow: 1px 1px 0px #528009;

			-webkit-box-shadow: inset 0px 1px 0px 0px #A4E271;
			   -moz-box-shadow: inset 0px 1px 0px 0px #A4E271;
			        box-shadow: inset 0px 1px 0px 0px #A4E271;
		}

		.subreddit-picker-subreddit-add-button:active {
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77A809), color-stop(1, #89C403)); /* @alternate */
			background: -moz-linear-gradient(center top, #77A809 5%, #89C403 100%);
			filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#77A809', EndColorStr='#89C403');
			background-color: #77A809;
		}

		.subreddit-picker-subreddit-remove-button {
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #F24537), color-stop(1, #C62D1F)); /* @alternate */
			background: -moz-linear-gradient(center top, #F24537 5%, #C62D1F 100%);
			filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#F24537', EndColorStr='#C62D1F');
			background-color: #F24537;
			border-color: #D02718;
			color: #FFF;
			text-shadow: 1px 1px 0px #810E05;

			-webkit-box-shadow: inset 0px 1px 0px 0px #F5978E;
			   -moz-box-shadow: inset 0px 1px 0px 0px #F5978E;
			        box-shadow: inset 0px 1px 0px 0px #F5978E;
		}

		.subreddit-picker-subreddit-remove-button:active {
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #C62D1F), color-stop(1, #F24537)); /* @alternate */
			background: -moz-linear-gradient(center top, #C62D1F 5%, #F24537 100%);
			filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr='#C62D1F', EndColorStr='#F24537');
			background-color: #C62D1F;
		}

		.subreddit-picker-subreddit-add-button:before,
		.subreddit-picker-subreddit-remove-button:before {
			margin: 0 7px 0 0; /* @alternate */
			margin: 0 0.4375rem 0 0;
		}

		.subreddit-picker-subreddit-add-button:before {
			content: "Add";
		}

		.subreddit-picker-subreddit-remove-button:before {
			content: "Remove";
		}
